.carrosel__titulo{
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
    color: var(--cor-titulo);
    text-align: center;
    background-color: var(--cor-primaria);
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, 
.swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}

.card{
    background: var(--cor-primaria);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1em;
    padding: 1em;
}

.card__descricao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em 0;
}

.descricao__imagem{
    margin: 0.5em 0 0.5em 0.5em;
}

.card__botao{
    display: flex;
    justify-content: space-between;
}

.botao{
    display: flex;
}

.botao__item{
    padding: 0 0.5em;
}

.botao__ancora{
    background-color: var(--cor-titulo);
    padding: 1em 2.2em;
    color: var(--cor-primaria);
    font-weight: 700;
    text-decoration: none;
}

.descricao__titulo{
    font-weight: 700;
    color: var(--cor-titulo);
}

.descricao__titulo-livro{
    font-size: 18px;
    color: var(--cor-titulo-livro);
    font-weight: 700;
    margin: 0.5em 0;
}

.descricao__texto{
    font-size: 14px;
}

@media screen and (min-width:1024px){
    .carrosel__titulo{
        font-size: 26px;
    }

    .swiper{
        width: 60%;
    }

    .swiper-pagination{
        margin: 2em 0 3em 0;
    }

    .swiper-button-next,
    .swiper-button-prev{
        top: 60%;
        display: block;
    }

    .card{
        width: 40%;
        margin: 2em auto;
    }
}

@media screen and (min-width:1728px){
    .carrosel__container{
        display: flex;
        align-items: center;
        margin: 0 20vw 3em 20vw;
    }
    
    .swiper-pagination{
        margin: 1em 0;
        width: 50%;
    }

    .carrosel__titulo{
        font-size: 32px;
    }

    .card{
        width: 70%;
        margin-left: 3em;
    }

    .descricao__titulo{
        font-size: 26px;
    }

    .descricao__texto{
        font-size: 16px;
    }

    .descricao{
        margin-right: 2em;
    }


}